doctype html
html
	head
		block vars
			- var title = title || 'Sergey nJS Vasin'

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Sergey nJS Vasin's Portfolio | I'm JavaScript ninja, back-end and front-end Web Developer")
		meta(name="author" content="Sergey nJS Vasin")

		title= title

		script(src="/webpack-dev-server.js")
	body
		block body
			credit-calc Loading...
// todo: research html-webpack-template-pug, html-webpack-pug-plugin, html-webpack-harddisk-plugin
