.wrap
  h2 Enter credit values:

  .formData
    p
      label(for="amount") Amount
      input#amount([(ngModel)]="amount", (change)="calc()", placeholder="Amount of credit")

    p
      label(for="interest") Interest
      input#interest([(ngModel)]="interest", (change)="calc()", placeholder="Annual interest rate")

    p
      label(for="term") Term
      input#term([(ngModel)]="term", (change)="calc()", placeholder="Credit term (years)")

    p
      button((click)="calc()") Calc payments

  .clear

  .outputResult
    p Monthly payments: {{ monthlyPayment | number:'1.2' }}

    p Amount of interest payments: {{ allInterestsPayments | number:'1.2' }}

    p Total amount of payments: {{ totalAmount | number:'1.2' }}

    table.payments
      thead
        tr
          th Period
          th Monthly payment
          th Interest repayment
          th Principal repaiment
          th Principal balance

      tbody
        tr(*ngFor="let payment of payments; let i = index")
          td {{ i + 1 }}
          td {{ payment.monthlyPayment | number:'1.2'}}
          td {{ payment.interestRepayment | number:'1.2'}}
          td {{ payment.principalRepayment | number:'1.2'}}
          td {{ payment.principalBalance | number:'1.2'}}
