.formData
  float left
  width 50%
  padding 0 20px 0 0

  p
    clear both
    margin 10px auto
    overflow hidden

    label
      display inline-block
      margin auto 10px auto auto
      text-align right
      width 53%

    input
      background-color #2b2b2b
      border 1px solid #aa7700
      color #aa7700
      font-weight bold
      float right
      padding 3px 10px
      width 40%

      &:hover
      &:focus
        border 1px solid #cc8800
        color #cc8800
        outline none

    button
      color #2b2b2b
      float right
      font 18px Arial, sans-serif
      padding 2px 10px
      width 214px
      background-color #aa7700
      border none
      cursor pointer

      &:hover
      &:focus
        background-color #cc8800
        color #000
        outline none

.canvasBlock
  float right
  margin 10px auto auto
  text-align center
  width 47%

  h3
    color #aa7700
    font 20px Arial, sans-serif
    margin auto auto 10px
    text-align center

  canvas
    border 1px solid #aa7700

    &:hover
      border 1px solid #cc8800

.outputResult
  margin 20px auto auto

  p
    margin auto auto 10px

    .output
      font-weight bold

.payments
  border-collapse collapse

  th,
  td
    padding 5px 10px
    border 1px solid


